@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

body {
	@apply bg-bg;
}

header {
	mask: linear-gradient(white 70%, transparent);
}
header::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	z-index: 10;
	background-color: rgba(5, 21, 46, 0.7);
}

nav {
	transform: translateY(-100%);
	transition: 0.3s;
	background-color: rgba(5, 21, 46, 0.5);
}

nav.visible {
	transform: translateY(0);
}

.logo {
	color: transparent;
	background-image: var(--gradient);
}

.search__icon + div div {
	transition: 0.2s;
}
.search__icon + div div.open {
	opacity: 1;
	transform: translate(50%, 0);
}

.btn__search {
	background-image: var(--gradient);
}
