@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card-sosmed {
		@apply w-12 h-12 rounded-full bg-bg grid place-content-center;
	}
	.sosmed {
		@apply text-light text-2xl;
	}
}

:root {
	--gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
}

body {
	@apply bg-bg;
}

header {
	mask: linear-gradient(#05152e 70%, transparent);
}
header::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	z-index: 10;
	background-color: rgba(5, 21, 46, 0.7);
}

nav {
	transform: translateY(-100%);
	transition: 0.3s;
	background-color: rgba(5, 21, 46, 0.7);
}

nav.visible {
	transform: translateY(0);
}

.logo {
	color: transparent;
	background-image: var(--gradient);
}

.nav__menu {
	transition: 0.2s;
}
.nav__menu.open {
	top: 0;
	transform: translateY(0);
}

.close__search {
	top: 70px;
	left: 50%;
	transform: translate(-50%, -8px);
	opacity: 0;
	transition: 0.2s;
	visibility: hidden;
}
.close__search.open {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
}
.search__nav {
	position: absolute;
	top: 103px;
	left: 50%;
	transform: translate(-50%, -8px);
	max-width: 500px;
	transition: 0.2s;
	opacity: 0;
	user-select: none;
	/* visibility: hidden; */
}
.search__nav.open {
	opacity: 1;
	/* visibility: visible; */
	transform: translate(-50%, 0);
}

.btn__search {
	width: 100px;
	height: 100%;
	background-image: var(--gradient);
}

.img__container .lazy-load-image-background {
	width: 100%;
	height: 100%;
}
.img__container span img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.input__search {
	width: calc(100% - 100px);
	height: 100%;
}

.content__wrapper {
	max-width: 1280px;
	width: 100%;
	padding-inline: 2rem;
	margin: 0 auto;
	/* overflow: hidden; */
}

.swicth.open {
	background-image: var(--gradient);
	width: 50%;
	height: calc(100% - 5px);
	border-radius: 30px;
	cursor: pointer;
	color: white;
	font-weight: 600;
	display: grid;
	place-items: center;
}
.swicth {
	width: 50%;
	height: calc(100% - 5px);
	border-radius: 30px;
	cursor: pointer;
	color: black;
	font-weight: 600;
	display: grid;
	place-items: center;
}

.card__wrapper {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: auto;
	min-height: 250px;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}
.card div .lazy-load-image-background {
	position: relative;
	width: 100%;
	height: 250px;
}
.card div .lazy-load-image-background img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
}

.card {
	position: relative;
	width: 160px;
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.genre {
	background-image: var(--gradient);
}

.CircularProgressbar-text {
	font-weight: 800;
}

.backdrop__img {
	mask: linear-gradient(#05152e 80%, transparent);
}

.backdrop__img .lazy-load-image-background {
	width: 100%;
	height: 100%;
}
.backdrop__img .lazy-load-image-background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.layer__opacity {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	background-color: rgba(5, 21, 46, 0.9);
}
.detail__left .lazy-load-image-background {
	width: 100%;
	height: 100%;
}
.detail__left .lazy-load-image-background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	color: white;
	padding-block: 0.6rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* loadng benner */
.left__skeleton {
	width: 300px;
	height: 450px;
	background-color: salmon;
}

.search-card-wrapper {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1rem;
}

@media screen and (max-width: 1023px) {
	.search-card-wrapper {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media screen and (max-width: 960px) {
	.search-card-wrapper {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (max-width: 767px) {
	.search-card-wrapper {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.input__search {
		width: calc(100% - 80px);
	}
	.btn__search {
		width: 80px;
	}
	.content__wrapper {
		padding-inline: 1rem;
	}
	.search__nav {
		width: calc(100% - 2rem);
		margin: 0 auto;
	}
	.search-card-wrapper {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 420px) {
	.search-card-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
